#header{
  margin-top: 0px;
}

#main{
  padding-top: 10px;
}

[class*="span"]{
  margin-left: 0;
}

.page-header{
  margin-bottom: 10px;
}

.header-link, .header-link:hover{
  text-decoration: none;
  color: inherit;
}

#africa:hover{
  fill: green;
}

#asia:hover{
  fill: red;
}

#europe:hover{
  fill: purple;
}

#cont1:hover{
  fill: blue;
}

.country-info .country-flag img{
  border: 1px solid #eee;
}

g.land path:hover,
path.land:hover{
  fill: black;
}

.land{
  fill-opacity: 1;
}

.green1{
  fill: #c6e9af;
}

.green2{
  fill: #8dd35f;
}

.green3{
  fill: #71c837;
}

.green4{
  fill: #447821;
}

.green5{
  fill: #5aa02c;
}

.black{
  fill: black;
}

.red1{
  fill: #f3b4b3;
}

.red2{
  fill: #eb837f;
}

.red3{
  fill: #e2514c;
}

.red4{
  fill: #da1f19;
}

.red5{
  fill: #b60500;
}

.purple5{
  fill: #7100a4;
}

.purple1{
  fill: #e7b3fe;
}

.purple2{
  fill: #d67ffe;
}

.purple3{
  fill: #c64cfd;
}

.purple4{
  fill: #b619fc;
}